* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: black;
    /* background: url(assets/img/5_background/layers/air.png); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}